<div class="importer mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Founde's Map Quest: Importer</span>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--white">
        <header class="importer-menuHeader">
            <img src="https://getmdl.io/templates/dashboard/images/user.jpg"
                 class="importer-menuHeader__profileImage">
        </header>
        <nav class="importer-navMenu mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link mdl-color-text--white" href="">
                <i class="mdl-color-text--white material-icons"
                   role="presentation">library_add</i>
                Importer
            </a>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid">

            <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">

                <form action="#" class="importer-form" name="csvForm">

                    <div class="mdl-grid">

                        <div class="form-formControls mdl-cell mdl-cell--12-col">
                            <div class="mdl-grid">
                                <div class="form-csvData mdl-cell mdl-cell--12-col">
                                    <h5 class="form-csvData__title mdl-color-text--grey-600">Paste CSV Data</h5>

                                    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                                <textarea class="mdl-textfield__input form-csvData__textArea" type="text" name="csvData"
                                          id="csvData" ng-model="vm.importData.csvContent"></textarea>
                                        <label class="mdl-textfield__label" for="csvData">CSV Content...</label>
                                    </div>

                                </div>
                                <div class="mdl-textfield mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">

                                    <h6 class="form-formControls__title">Separated By:</h6>
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="comma">
                                        <input type="radio" id="comma" class="mdl-radio__button" name="separatedBy"
                                               value="0" ng-model="vm.importData.separatedBy">
                                        <span class="mdl-radio__label">Comma (,)</span>
                                    </label>
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="semicolon">
                                        <input type="radio" id="semicolon" class="mdl-radio__button" name="separatedBy"
                                               value="1" ng-model="vm.importData.separatedBy">
                                        <span class="mdl-radio__label">Semicolon (;)</span>
                                    </label>
                                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="tab">
                                        <input type="radio" id="tab" class="mdl-radio__button" name="separatedBy"
                                               value="2" ng-model="vm.importData.separatedBy">
                                        <span class="mdl-radio__label">Tab (&nbsp;)</span>
                                    </label>

                                </div>


                                <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <div class="mdl-textfield mdl-js-textfield">
                                        <input class="mdl-textfield__input" type="text" id="latitudeName"
                                               name="latitudeName" ng-model="vm.importData.latitudeName">
                                        <label class="mdl-textfield__label" for="latitudeName">Latitude Column
                                            Name</label>
                                    </div>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield  mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <div class="mdl-textfield mdl-js-textfield">
                                        <input class="mdl-textfield__input" type="text" id="longitudeName"
                                               name="longitudeName" ng-model="vm.importData.longitudeName">
                                        <label class="mdl-textfield__label" for="longitudeName">Longitude Column
                                            Name</label>
                                    </div>
                                </div>

                                <div class="mdl-textfield  mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                                    <div class="mdl-grid">

                                        <div class="mdl-cell mdl-cell--12-col">
                                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                                   for="useMarker">
                                                <input type="checkbox" id="useMarker" class="mdl-checkbox__input"
                                                       ng-model="vm.importData.useMakerLabel" name="useMarker">
                                                <span class="mdl-checkbox__label">Use Maker Label</span>
                                            </label>
                                        </div>

                                        <div class="mdl-cell mdl-cell--12-col" ng-show="vm.importData.useMakerLabel">
                                            <div class="mdl-textfield mdl-js-textfield">
                                                <input class="mdl-textfield__input" type="text" id="markerName"
                                                       name="markerName" ng-model="vm.importData.markerName">
                                                <label class="mdl-textfield__label" for="markerName">Marker column
                                                    name</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                    <button type="button" ng-click="vm.processCSV(csvForm)">Enviar</button>
                </form>


            </div>
        </div>
    </main>
</div>