<div class="mdl-grid">

    <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">

        <form action="#" class="importer-form" name="csvForm">

            <div class="  table-responsive">

                <table class="mdl-data-table table">
                    <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Founder</th>
                        <th>City</th>
                        <th>Country</th>
                        <th class="mdl-cell--hide-tablet mdl-cell--hide-phone">Postal Code</th>
                        <th class="mdl-cell--hide-tablet mdl-cell--hide-phone">Street</th>
                        <th>Photo</th>
                        <th>Home Page</th>
                        <th class="mdl-cell--hide-phone">Latitude</th>
                        <th class="mdl-cell--hide-phone">Longitude</th>
                        <th class="mdl-cell--hide-phone">Marker's Label</th>
                    </tr>
                    </thead>
                    <tbody>
                            <tr ng-repeat="entry in vm.dataEntries" >
                               <td>
                                   <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox{{$index}}">
                                       <input type="checkbox" id="checkbox{{$index}}" class="mdl-checkbox__input" checked>
                                   </label>

                                    {{entry.companyName}}
                                </td>
                                <td>
                                    {{entry.founder}}
                                </td>
                                <td>
                                    {{entry.city}}
                                </td>
                                <td>
                                    {{entry.country}}
                                </td>
                                <td class="mdl-cell--hide-tablet mdl-cell--hide-phone">
                                    {{entry.postalCode}}
                                </td>
                                <td class="mdl-cell--hide-tablet mdl-cell--hide-phone">
                                    {{entry.street}}
                                </td>
                                <td>
                                    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
                                            data-img-src="{{entry.photo}}" type="button">
                                        <i class="material-icons">pageview</i>
                                    </button>

                                </td>
                                <td>
                                    {{entry.homePage}}
                                </td>
                                <td class="mdl-cell--hide-phone">
                                    {{entry.latitude}}
                                </td>
                                <td class="mdl-cell--hide-phone">
                                    {{entry.longitude}}
                                </td>
                                <td class="mdl-cell--hide-phone">
                                    {{entry.markerName}}
                                </td>
                            </tr>
                    </tbody>
                </table>

            </div>

        </form>

    </div>
</div>